<div class="single-user-profile" >
  <div id="<%= dom_id user %>">
    <div class="single-user">
      <div class="single-image">
        <img src=<%= user.photo %> alt="#{user.name}" class="s-image">
      </div>

      <div class="user-info">
        <p>
        <strong>
          <%= user.name %> </strong>
        </p>

        <p>
       Number of posts:
       <strong>
    <%= user.posts_counter %> </strong>
  </p>
  </div>

</div>
</div>
</div>
</div>