<p style="color: green"><%= notice %></p>

<%= render @user %>

<div class="user-bio">
<p>Bio</p>
<%= @user.bio %>
</div>

<div class="user-posts">

<p>This is a list of posts for a selected user</p>
<p></p>
</div>


